/* 1. Override Bootstrap variables here (optional) */
$primary: #ff5722;
$secondary: gray;
$tirtiary: orange;
$danger: #e91e63;
$black: #302f2f;
$light: #3B9797;
$back: #D9D9D9;



/* 2. Import Bootstrap SCSS */
@import "bootstrap/scss/bootstrap";
